{% extends "base_in_encargado.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
              <h3 align="center">Año lectivo: 2017</h3>
              <br>
              <div class="col-md-12 padding-0">
                  <div class="col-md-offset-4 col-md-4">
                      <div class="panel box-v1">
                          <div class="panel-heading">            
                              <h4 class="text-center">Mis Alumnos</h4>
                            </div>
                                      <div class="panel-body text-center">
                                            <a href="">
                                           <span class="fa fa-graduation-cap fa-4x"></span>
                                           </a>
                                        <h4>30</h4>
                                      </div>
                                      <div class="panel-footer text-center">
                                          <a href="{% url 'ver_alumnos' %}">Mas información <span class="fa fa-info-circle"></span></a>
                                      </div>
                                    </div>
                                    </div>
                          </div>
                                
                                  
                                 
                            </div>

                    </div>
{% endblock  %}