{% extends "base_in_encargado.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
  <br>
	<h2>Ver Matricula de su(s) Alumno(s)</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Nombre del Alumno</th>
                  <th>Grado</th>
                  <th>Fecha de Matricula</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{ matri.alumno.nombre }} {{ matri.alumno.apellido }}</td>
                <td>{{ matri.ofertagrado }}</td>
                <td>{{ matri.fecha }}</td>
                <td><div class="btn-group">
                    <button class="dropdown-toggle btn btn-primary btn-block" data-toggle="dropdown" aria-expanded="true">Acciones &nbsp<span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'ver_notas_alumno' matri.alumno.id %}">Ver Notas <span class="fa fa-pencil pull-left"></span></a></li>
                      <li><a href="{% url 'ver_docente' matri.alumno.id %}">Ver Docentes <span class="fa fa-pencil pull-left"></span></a></li>
                    </ul>
                  </div>
               </td>
              </tr>           
              </tbody>
            </table>
          </div>
            
	</div>	
  </div>
  </div>
  </div>
{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
    $('#datatable').DataTable();
});
  </script>

  
{% endblock  %}