{% extends "base_in_encargado.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
  <br>

	<h2>Mis Alumnos</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Nombre del Alumno</th>
                  <th>Direccion</th>
                  <th>Telefono</th>
                  <th>Correo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody> 
                {% for a in alu %}
                  <tr>
                    <td>{{ a.alumno.nombre }} {{ a.alumno.apellido }}</td>
                  <td>{{ a.alumno.direccion }}</td>
                  <td>{{ a.alumno.telefono_f }}</td>
                  <td>{{ a.alumno.correo }}</td>
                  <td><div class="btn-group">
                    <button class="dropdown-toggle btn btn-primary btn-block" data-toggle="dropdown" aria-expanded="true">Acciones &nbsp<span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'ver_matricula' a.alumno.id %}">Ver Matricula <span class="fa fa-pencil pull-left"></span></a></li>
                    </ul>
                  </div></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            
	</div>	
  </div>
  </div>
  </div>
{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
    $('#datatable').DataTable();
});
  </script>

  
{% endblock  %}