{% extends "base_in.html" %}

{% block navbar %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'index_encargado' %}">Inicio<span class="pull-right fa fa-home" style="color:black"></span></a>
            </li>
            <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Alumnos <span class="pull-right fa fa-calendar" style="color:black"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="dropdown-item" href="{% url 'ver_grado' %}">Ver Grado</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_notas' %}">Ver Notas</a></li>
                    </ul>
            </li>
            <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Matricula <span class="pull-right fa fa-sort-numeric-asc" style="color:black"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="dropdown-item" href="{% url 'ver_matricula' %}">Ver Matricula</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_historial' %}">Ver Historial</a></li>
                    </ul>
            </li>
            
          </ul>
        </div>
{% endblock %}
