{% extends "base.html" %}

{% load static %}

{% block navtop %}
    <nav class="navbar navbar-default header navbar-fixed-top">
          <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
              <div class="opener-left-menu is-open">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </div>
                <a href="{% url 'index' %}" class="navbar-brand"> 
                 <b><span class="fa fa-university pull-left"></span></b>
                </a>
              <ul class="nav navbar-nav navbar-right user-nav">
               <li><a class="opener-right-menu" data-toggle="tooltip" href="/message/bandeja/" data-placement="bottom"title="Ir a mensajes" id="msg"><span class="fa fa-envelope-o"></span>
               {% if totmsjn > 0 %}
                 <span class"label" style="position: absolute; top: -2px; right: -1px;"><h4><strong>{{ totmsjn }}</strong></h4></span>
               {% endif %}
               </a></li>
               <li ><a class="opener-right-menu" href="/events/" data-toggle="tooltip" data-placement="bottom" title="Ir al calendario" id="notif"><span class="fa fa-calendar-o"></span></a></li>
               
                  <li class="dropdown avatar-dropdown">
                   <a alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{ uausuario }} &nbsp<span class="fa fa-caret-down pull-rigth fa-1x"><span></a>
                   <ul class="dropdown-menu user-dropdown">
                   {% block  miperfil %}
                       
                   {% endblock %}             
                  {% block cambiarclave %}
                    
                  {% endblock %}
                  <li><a href="/account/blockscreen/"><span class="fa fa-lock">Bloquear pantalla</span></a></li>
                      <li><a href="{% url 'logout' %}"><span class="fa fa-power-off pull-left ">Cerrar sesión</span></a></li>
                    </li>
                  </ul>
                </li>
                 <li><a href=""><span class="fa fa-user-circle pull-left fa-2x"><span></a><li>
              </ul>
            </div>
          </div>
        </nav>
{% endblock %}

{% block container %}
<div class="container-fluid mimin-wrapper">
      <div id="left-menu">
      {% block navbar %}{% endblock %}
      </div>
       
      <div id="content">   
      {% block info %}{% endblock %}
      </div>
</div>
{% endblock %}