{% extends "base_in.html" %}

{% block navbar %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'index_encargado' %}">Inicio<span class="pull-right fa fa-home" style="color:black"></span></a>
            </li>
            <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Alumnos <span class="pull-right fa fa-calendar" style="color:black"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="dropdown-item" href="{% url 'new_student_s' %}">Ingresar alumno</a></li>
                        <li><a class="dropdown-item" href="{% url 'all_students_s' %}">Ver alumno</a></li>
                    </ul>
            </li>
              <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Encargado <span class="pull-right fa fa-calendar" style="color:black"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="dropdown-item" href="{% url 'new_tutor_s' %}">Ingresar encargado</a></li>
                        <li><a class="dropdown-item" href="{% url 'all_tutors_s' %}">Ver encargado</a></li>
                    </ul>
            </li>
            <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Matricula <span class="pull-right fa fa-sort-numeric-asc" style="color:black"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="dropdown-item" href="{% url 'new_enroll_s' %}">Matricular nuevo alumno</a></li>
                        <li><a class="dropdown-item" href="{% url 'enroll_massive_s' %}">Matricula masiva</a></li>
                        <li><a class="dropdown-item" href="{% url 'all_enroll_s' %}">Ver matricula</a></li>
                    </ul>
            </li>
            
          </ul>
        </div>
{% endblock %}