{% extends "base_in.html" %}

{% block navbar %}

              <div class="sub-left-menu scroll">
                <ul class="nav nav-list">  
                    <li class="time">
                      <h2 align="center" class="animated fadeInLeft">21:00</h2>
                      <p class="animated fadeInRight">Lun,Octubre 1ero 2029</p>
                    </li>
                    <li class="ripple">
                      <a href="{% url 'index_encargado' %}"class="tree-toggle nav-header"><span class="fa-home fa"></span>Inicio 
                      </a>
                    </li>
                    
                  </ul>
                </div>
{% endblock %}