{% extends "base_in.html" %}

{% block navbar %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'index' %}">Inicio<span class="pull-right fa fa-home" style="color:black"></span></a>
            </li>
            <li><a href="" class="dropdown-toggle" data-toggle="dropdown">Mis Clases <span class="pull-right fa fa-calendar" style="color:black"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a class="dropdown-item" href="{% url 'vermisclases' %}">Ver mis Clases</a></li>
                        <li><a class="dropdown-item" href="{% url 'ingresarnota' %}">Ingresar Notas</a></li>
                        <li><a class="dropdown-item" href="{% url 'veralumnos' %}">Listado de alumnos</a></li>
                    </ul>
            </li>
          </ul>
        </div>
           
{% endblock %}
