{% extends "base_in_secretaria.html" %}

{% block info %}
  <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
              <h3 align="center">Año lectivo: 2017</h3>
              <br>
              <div class="col-md-12 padding-0">
                  <div class="col-md-offset-2 col-md-4">
                      <div class="panel box-v1">
                          <div class="panel-heading">            
                              <h4 class="text-center">Alumnos</h4>
                            </div>
                                      <div class="panel-body text-center">
                                            <a href="">
                                           <span class="fa fa-graduation-cap fa-4x"></span>
                                           </a>
                                        
                                      </div>
                                      <div class="panel-footer text-center">
                                          <a href="{% url 'ver_alumnos' %}">Mas información <span class="fa fa-info-circle"></span></a>
                                      </div>
                                    </div>
                                    </div>

  		            <div class="col-md-4">
                      <div class="panel box-v1">
                          <div class="panel-heading">            
                              <h4 class="text-center">Matricula</h4>
                            </div>
                                      <div class="panel-body text-center">
                                            <a href="">
                                           <span class="fa fa-graduation-cap fa-4x"></span>
                                           </a>
                                        
                                      </div>
                                      <div class="panel-footer text-center">
                                          <a href="{% url 'all_enroll_s' %}">Mas información <span class="fa fa-info-circle"></span></a>
                                      </div>
                                    </div>
                                    </div>

  </div>
	</div>
  </div>
{% endblock  %}