{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
 <br>
 <div class="row container">
    <div class="col-md-3">
      <a href="{% url 'new_workposition' %}" class="btn btn-primary pull-right">Agregar nuevo cargo</a>
    </div>
  </div>
	<h2>Listado de cargos</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Cargo</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>           
              </tbody>
            </table>
          </div>
	</div>	
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
    $('#datatable').DataTable();
  });
</script> 
{% endblock  %}