{% extends "base_in_admin.html" %}

{% block info %}
 <br>
     <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
      <br>
      <div class="row container">
    <div class="col-md-3">
      <a href="{% url 'new_grade' %}" class="btn btn-primary pull-right">Aperturar grado</a>
    </div>
  </div>
	<h2>Listado de grados</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="tablagrados" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Grado</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for g in grado %}
                  <tr>
                    <td> {{ g }} </td>
                    {% if g.activo == True %}
                      <td><button class="btn btn-success">Activo</button></td>
                    {% endif %}
                    {% if g.activo == False %}
                      <td><button class="btn btn-danger">Inactivo</button></td>
                    {% endif %}
                    <td><button class="btn btn-primary btn-editar" data-id="{{ g.id }}" data-grade="{{ g }}" data-toggle='modal' data-target='#edit_grade'><span class="fa fa-pencil pull-left"></span>Editar</button></td>
                    <td><button class="btn btn-primary"><span class="fa fa-book pull-left"></span>Ver plan de estudio</button></td>
                    <td><button class="btn btn-primary"><span class="fa fa-sort-alpha-asc pull-left"></span>Ver secciones</button></td>
                    </tr>
                  {% empty %}
                  <div clas="col-md-6">
                    <div align ="center" class="form-group">
                        <h4>No hay grados registrados hasta el momento</h4>
                    </div>
                  </div>
                  <br>
                  {% endfor %}                
              </tbody>
            </table>
          </div>
</div>
</div>
</div>
	</div>

    <div class="modal fade" id="edit_grade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Editar grado</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post">
                <div class="form-group">
                      <label for="clase">Grado</label>
                      <input type="text" name="clase" id="gradeedit" class="form-control" required>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Actualizar</button>
        </form>
      </div>
  </div>
  </div>
</div>	
{% endblock %}
{% block js %}
<script>
    $(document).ready(function() {
    $('#datatable').DataTable();
  });
</script> 
{% endblock  %}
