{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
   <br>
   <div class="row container">
    <div class="col-md-3">
      <a href="{% url 'new_year' %}" class="btn btn-primary pull-right">Aperturar nuevo año academico</a>
    </div>
  </div>
	<h2>Listado de años academicos</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Inicio</th>
                  <th>Fin</th>
                  <th>Editar</th>

                </tr>
              </thead>
              <tbody>
                {% for a in anio  %}
                  <tr>
                    <td>{{ a.inicio }}</td>
                    <td> {{ a.fin }}</td>
                    <td>
                    <div class="btn-group">
                    <button class="dropdown-toggle btn btn-primary btn-3d btn-sm" data-toggle="dropdown" aria-expanded="true">Acciones &nbsp<span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a class="btn-editar" href="" data-id="{{ a.id }}" data-inicio="{{ a.inicio }}" data-fin="{{ a.fin }}"data-toggle="modal" data-target="#edit_year">Editar<span class="fa fa-pencil pull-left "></span></a></li>
                      <li><a href="">Ver grados ofertados
                      <span class="fa fa-pencil pull-left "></span></a></li>
                    </ul>
                  </div>
                    </td>
                  </tr>             
                {% endfor %}           
              </tbody>
            </table>
          </div>
          </div>

  <div class="modal fade" id="edit_year" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Editar año academico
        </h4>
      </div>
      <div class="modal-body">
        <form action="" method="post">
        {% csrf_token %}
                      <input type="hidden" id="idano" name="id">
                              <div class="form-group">
          <label for="inicio">Inicio</label>
          <input type="date" name="inicio" id="inicio" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="fin">Fin</label>
          <input type="date" name="fin" id="fin" class="form-control" required>
        </div>
                <button type="button" class="btn btn-danger btn-3d" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button type="submit" class="btn btn-success btn-3d btn-actualizar"><i class="fa fa-check"></i>Actualizar</button>
        </form>
      </div>
  </div>
  </div>
</div>

</div>
</div>
</div>	
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
    $('#datatable').DataTable();

    $('.btn-editar').click(function(e)
    {
      e.preventDefault();
      var _id = $(this).attr('data-id');
      var _inicio = $(this).attr('data-inicio');
      var _fin = $(this).attr('data-fin');
      alert(_inicio)
      alert(_fin)
      $("#inicio").val(_inicio);
      $("#fin").val(_fin); 
      $("#idano").val(_id);  
    });

        $('.btn-actualizar').click(function(e){
          e.preventDefault();
          
          var csfrm = $('input[name=csrfmiddlewaretoken]').val()
          $.ajax({
            type:'POST',
            url:'/admini/class/edit/' + _idclase + '/',
            data:{
            clase: _clase,
            id: _idclase,
            csrfmiddlewaretoken: csfrm
            },
            success: function(){
              location.reload()
            },
            error: function()
            {
            }

        });
  });
      });
</script> 
{% endblock  %}