{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
 <br>
   <div class="row container">
    <div class="col-md-3">
      <a href="{% url 'new_section' %}" class="btn btn-primary pull-right">Ofertar nueva sección</a>
    </div>
  </div>
	<h2>Listado de secciones</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Sección</th> 
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>   
                 {% for s in seccion %}
                  <tr>
                    <td> {{ s }} </td>
                    {% if s.activo == True %}
                      <td><button class="btn btn-success btn-activo" data-section="{{ s }}" data-activo="{{ s.activo }}" data-toggle='modal' data-target='#desactive_section'>Activo</button></td>
                    {% endif %}
                    {% if s.activo == False %}
                      <td><button class="btn btn-danger btn-activo" data-section="{{ s }}" data-activo="{{ s.activo }}" data-toggle='modal' data-target='#active_section'>Inactivo</button></td>
                    {% endif %}
                    <td> <button class="btn btn-primary btn-editar" data-id="{{ s.id }}" data-section="{{ s }}" data-toggle='modal' data-target='#edit_section'><span class="fa fa-pencil pull-left"></span>Editar</button></td>
                    </tr>
                                      {% empty %}
                  <div clas="col-md-6">
                    <div align ="center" class="form-group">
                        <h4>No hay secciones registradas hasta el momento</h4>
                    </div>
                  </div>
                  <br>
                  {% endfor %}              
              </tbody>
            </table>
          </div>
</div>
</div>
</div>
	</div>	

<div class="modal fade" id="edit_section" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Editar sección</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post">
                <div class="form-group">
                      <label for="clase">Grado</label>
                      <input type="text" name="clase" id="sectionedit" class="form-control" required>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Actualizar</button>
        </form>
      </div>
  </div>
  </div>
</div>  

<div class="modal fade" id="desactive_section" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Desactivar seccion</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post">
                <div class="form-group">
                    <h3 class="modal-title msj" id="myModalLabel"></h3>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Si</button>
        </form>
      </div>
  </div>
  </div>
</div>

<div class="modal fade" id="active_section" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Activar seccion</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post">
                <div class="form-group">
                    <h3 class="modal-title msj" id="myModalLabel"></h3>
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Si</button>
        </form>
      </div>
  </div>
  </div>
</div> 
{% endblock %}

{% block js %}
  <script>
  $('.btn-editar').click(function(e)
  {
    e.preventDefault();
    var _id = $(this).attr('data-id');
    var _section = $(this).attr('data-section');
    $("#sectionedit").val(_section);
    $.ajax({
      data: {'id': _id},
      url: '/admini/class/edit/' + _id + '/',
        type: 'get',
      success: function(data){
        $("#claseedit").val(data.fields.clase);
        }
    });
  });

  $('.btn-activo').click(function(e){
    e.preventDefault();
    var _activo = $(this).attr('data-activo');
    var _seccion = $(this).attr('data-section');
    if(_activo == 'True'){
      var msj = '¿Desea desactivar la sección ' + _seccion + '?'
    }else{
      var msj = '¿Desea activar la sección ' + _seccion + '?'
    }
    $(".msj").text(msj);
  });
  </script>
{% endblock  %}

{% block js %}
<script>
    $(document).ready(function() {
    $('#datatable').DataTable();
  });
</script> 
{% endblock  %}