{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
 <br>
   <div class="row container">
    <div class="col-md-4">
      <a href="{% url 'new_enroll' %}" class="btn btn-primary pull-right">Nueva matricula</a>
    </div>
  </div>
	<h2>Historial de matriculas</h2>
	<div class="row conainer">

			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Alumno</th>
                  <th>Grado Ofertado</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                  <th>Ver detalle</th>
                </tr>
              </thead>
              <tbody>           
              </tbody>
            </table>
          </div>
</div>
</div>
</div>
	</div>	
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
    $('#datatable').DataTable();
  });
</script> 
{% endblock  %}