{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
  <br>
  <div class="row container">
    <div class="col-md-3">
      <a href="{% url 'new_class' %}" class="btn btn-primary pull-right btn-block">Nueva clase</a>
    </div>
  </div>
	<h2>Listado de clases</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Clase</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
              {% for c in clase %}
                <tr>
                <td> {{ c }}</td>
                {% if c.activo == True %}
                  <td> <button class="btn btn-success btn-3d btn-sm">Activo</button></td>
                {% endif %}
                {% if c.activo == False %}
                  <td> <button class="btn btn-success btn-3d btn-sm">Inactivo</button></td>
                {% endif %}
                <td>
                  <div class="btn-group">
                    <button class="dropdown-toggle btn btn-primary btn-3d btn-sm" data-toggle="dropdown" aria-expanded="true">Acciones &nbsp<span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><a class="btn-editar" href="" data-id="{{ c.id }}" data-clase="{{ c }}" data-toggle="modal" data-target="#edit_class">Editar<span class="fa fa-pencil pull-left "></span></a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
	</div>	


  <div class="modal fade" id="edit_class" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Editar clase</h4>
      </div>
      <div class="modal-body">
        <form action="" method="post">
        {% csrf_token %}
                      <input type="hidden" id="idclaseedit" name="id">
                      <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" id="claseedit" name="clase" class="form-text" required>
                    <span class="bar"></span>
                    <label>Clase</label>
                  </div>
                <button type="button" class="btn btn-danger btn-3d" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button type="submit" class="btn btn-success btn-3d btn-actualizar"><i class="fa fa-check"></i>Actualizar</button>
        </form>
      </div>
  </div>
  </div>
</div>
</div>
</div>
</div>


{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
    $('#datatable').DataTable();

    $('.btn-editar').click(function(e)
    {
      e.preventDefault();
      var _id = $(this).attr('data-id');
      var _clase = $(this).attr('data-clase');
      $("#claseedit").val(_clase);
      $("#idclaseedit").val(_id);  
    });

        $('.btn-actualizar').click(function(e){
          e.preventDefault();
          var _clase = $('#claseedit').val()
          var _idclase = $('#idclaseedit').val()
          var csfrm = $('input[name=csrfmiddlewaretoken]').val()
          $.ajax({
            type:'POST',
            url:'/admini/class/edit/' + _idclase + '/',
            data:{
            clase: _clase,
            id: _idclase,
            csrfmiddlewaretoken: csfrm
            },
            success: function(){
              location.reload()
            },
            error: function()
            {
            }

        });
});
});
  </script>  
{% endblock  %}