{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
  <br>
	<h2>Plan de estudio de {{ grado }}</h2>
	<div class="row container">
			<div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Clase</th>
                </tr>
              </thead>
              <tbody>
              {% for gc in gradoc %}
                <tr>
                <td> {{ gc.clase }}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>
	</div>	
</div>
</div>
</div>


{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
    $('#datatable').DataTable();
});
  </script>  
{% endblock  %}