{% extends "base_in_admin.html" %}

{% block info  %}
	    <div class="col-md-12">
                                <div class="panel box-v4">
                                    <div class="panel-heading bg-white border-none">
                                      <h3>Eventos</h3>
                                    </div>
                                    <div class="panel-body padding-0">
                                        <div class="col-md-12 col-xs-12 col-md-12 padding-0 box-v4-alert">
                                            <h2>Se ha agregado un evento recientemente</h2>
                                            <p>Semana de examenes del primer parcial</p>
                                            <b><span class="fa fa-clock"></span> 9 de abril al 15 de abril</b>
                                            <a class="btn btn-primary pull-right" data-toggle='modal' data-target='.modal' href="">Agregar evento</a>
                                        </div>
   
                                        <div class="calendar">
                                          
                                        </div>
                                    </div>
                                </div> 
                            </div>

<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Agregar evento</h4>
      </div>
      <div class="modal-body">
      	<form action="" method="post">
                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" id="from" name="from" class="form-text" required>
                    <span class="bar"></span>
                    <label>Inicio</label>
                  </div>
                    <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" id="to" name="to" class="form-text" required>
                    <span class="bar"></span>
                    <label>Fin</label>
                  </div>
                  	 <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" readonly class="form-text" required>
                    <span class="bar"></span>
                    <label>Titulo</label>
                    </div>
 					<div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <select class="form-control" name="class" id="tipo" required>
                        <option value="event-info">Todos</option>
                        <option value="event-success">Administradores</option>
                        <option value="event-important">Docentes y administradores</option>
                        <option value="event-warning">Alumnos</option>
                    </select>
                    </div>
    <script>
        $(function () {
                $('#from').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', lang : 'es', weekStart : 0, cancelText : 'Cancelar'});
                    $('#to').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', lang : 'es', weekStart : 0, cancelText : 'Cancelar'});
        });
    </script>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
          <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Agregar</button>
        </form>  
      
      </div>
    </div>
  </div>
</div>
{% endblock   %}

{% block  js %}
	<script>
	         $('.dashboard .calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            lang: 'es-ES',
            monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
            monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'],
            dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
            dayNamesShort: ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'],
            businessHours: true, // display business hours
            editable: false,
            events: [
                {
                    title: 'Reunión de maestros',
                    start: '2017-02-03T13:00:00',
                    constraint: 'businessHours'
                },
                {
                    title: 'Semana de examenes',
                    start: '2017-02-13T11:00:00',
                    constraint: 'availableForMeeting', // defined below
                    color: '#20C572'
                },
                {
                    title: 'Entrega de notas',
                    start: '2017-02-18',
                    end: '2017-02-20'
                },
                {
                    title: 'Party',
                    start: '2017-02-29T20:00:00'
                },

                // areas where "Meeting" must be dropped
                {
                    id: 'availableForMeeting',
                    start: '2017-02-11T10:00:00',
                    end: '2017-02-11T16:00:00',
                    rendering: 'background'
                },
                {
                    id: 'availableForMeeting',
                    start: '2017-02-13T10:00:00',
                    end: '2017-02-13T16:00:00',
                    rendering: 'background'
                },

                // red areas where no events can be dropped
                {
                    start: '2017-02-24',
                    end: '2017-02-28',
                    overlap: false,
                    rendering: 'background',
                    color: '#FF6656'
                },
                {
                    start: '2015-02-06',
                    end: '2015-02-08',
                    overlap: true,
                    rendering: 'background',
                    color: '#FF6656'
                }
            ]
        });
	</script>
{% endblock  %}