{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
              <h3 align="center">Año lectivo: 2017</h3>
              <br>
              <div class="col-md-12 padding-0">
                  <div class="col-md-3">
                      <div class="panel box-v1">
                          <div class="panel-heading">            
                              <h4 class="text-center">Alumnos matriculados</h4>
                            </div>
                                      <div class="panel-body text-center">
                                            <a href="">
                                           <span class="fa fa-graduation-cap fa-4x"></span>
                                           </a>
                                        <h4>30</h4>
                                      </div>
                                      <div class="panel-footer text-center">
                                          <a href="#">Mas información <span class="fa fa-info-circle"></span></a>
                                      </div>
                                    </div>
                          </div>
                                <div class="col-md-3">
                                    <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Grados ofertados</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h3>
                                           <span class="fa fa-book fa-2x"></span>
                                           </h3>
                                        <h4>Total: 11</h4>
                                        <a href="#" class="btn btn-md btn-primary btn-3d btn-block">Ver detalle</a>
                                      </div>
                                    </div>
                                </div>
                                  <div class="col-md-3">
                                    <div class="panel box-v1">
                                    <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Clases ofertadas</h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h3>
                                           <span class="fa fa-book fa-2x"></span>
                                           </h3>
                                        <h4>Total: 30</h4>
                                        <a href="#" class="btn btn-md btn-primary btn-3d btn-block">Ver detalle</a>
                                      </div>
                                    </div>
                                </div>
                                  <div class="col-md-3">
                                    <div class="panel box-v1">
                                    <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Excelencia academica</h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h3>
                                           <span class="fa fa-book fa-2x"></span>
                                           </h3>
                                        <h4>Total: 30</h4>
                                        <a href="#" class="btn btn-md btn-primary btn-3d btn-block ">Mas información</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding-0">
                  <div class="col-md-3">
                      <div class="panel box-v1">
                          <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Matricular</h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                            <h3>
                                           <span class="fa fa-users fa-2x"></span>
                                           </h3>
                                        <h4>.</h4>
                                        <a href="#" class="btn btn-primary btn-md btn-3d btn-block">Ir</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Agregar administrador</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h3>
                                           <span class="fa fa-user-plus fa-2x"></span>
                                           </h3>
                                        <h4>.</h4>
                                        <a href="#" class="btn btn-md btn-primary btn-3d btn-block">Ir</a>
                                      </div>
                                    </div>
                                </div>
                                  <div class="col-md-3">
                                    <div class="panel box-v1">
                                    <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Estadisticas</h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h3>
                                           <span class="fa fa-pie-chart fa-2x"></span>
                                           </h3>
                                        <h4>.</h4>
                                        <a href="#" class="btn btn-md btn-primary btn-3d btn-block">Ir</a>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel box-v1">
                                    <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Eventos</h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h3>
                                           <span class="fa fa-calendar-check-o fa-2x"></span>
                                           </h3>
                                        <h4>.</h4>
                                        <a href="{% url 'events'%}" class="btn btn-md btn-primary btn-3d btn-block">Ir</a>
                                      </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
{% endblock  %}