{% extends "base_in_admin.html" %}

{% block info %}
      <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
              <h3 align="center">Año lectivo: {{ aniolectivo }}</h3>
              <br>
              <div class="col-md-12 padding-0">
                    <div class="col-md-3">
                                    <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Alumnos registrados</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-graduation-cap fa-3x"></span>
                                           </h4>
                                        <h3>{{ alum }}</h3>
        
                                      </div>
                                                                                               <a href="/admini/student/all/">
                                <div class="panel-footer">
                                    <span class="pull-center">Mas informacion</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>


                                <div class="col-md-3">
                                                                        <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Alumnos matriculados</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-child fa-3x"></span>
                                           </h4>
                                        <h3>{{ totalu }}</h3>
        
                                      </div>
                                                                                               <a href="/admini/enroll/current/">
                                <div class="panel-footer">
                                    <span class="pull-center">Mas informacion</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>
                                                      <div class="col-md-3">
                                                                        <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Grados ofertados</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-sitemap fa-3x"></span>
                                           </h4>
                                        <h3>{{ totalof }}</h3>
        
                                      </div>
                                                                                               <a href="/admini/grade_offer/current/">
                                <div class="panel-footer">
                                    <span class="pull-center">Mas informacion</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>
                                                                        <div class="col-md-3">
                                                                        <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Clases ofertadas</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-book fa-3x"></span>
                                           </h4>
                                        <h3>{{ totaloc }}</h3>
        
                                      </div>
                                                                                               <a href="/admini/class_offer/current/">
                                <div class="panel-footer">
                                    <span class="pull-center">Mas informacion</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 padding-0">
                  <div class="col-md-3">
                                                         <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Matricular</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-users fa-3x"></span>
                                           </h4>
                                           <h3>.</h3>
        
                                      </div>
                                                                                               <a href="/admini/enroll/new/">
                                <div class="panel-footer">
                                    <span class="pull-center">Ir</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                                                        <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Reportes</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-file-pdf-o fa-3x"></span>
                                           </h4>
                                        <h3>.</h3>
        
                                      </div>
                                                                                               <a href="/admini/reports/">
                                <div class="panel-footer">
                                    <span class="pull-center">Ir</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>
                                  <div class="col-md-3">
                                                                        <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Estadisticas</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-pie-chart fa-3x"></span>
                                           </h4>
                                        <h3>.</h3>
        
                                      </div>
                                                                                               <a href="/admini/class_offer/current/">
                                <div class="panel-footer">
                                    <span class="pull-center">Ir</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                                                        <div class="panel box-v1">
                                      <div class="panel-heading bg-white border-none">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <h4 class="text-left">Eventos</h4>
                                        </div>

                                      </div>
                                      <div class="panel-body text-center">
                                        <h4>
                                           <span class="fa fa-calendar-check-o fa-3x"></span>
                                           </h4>
                                        <h3>.</h3>
        
                                      </div>
                                                                                               <a href="/events/">
                                <div class="panel-footer">
                                    <span class="pull-center">Ir</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>

                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
{% endblock  %}