{% extends "base_in_admin.html" %}

{% block info %}
<div class="container" align="center">
<br>
	<h2>Aperturar año académico</h2>
	<div class="row container">
	<div class="col-md-3"></div>
		<div class="col-md-6">
			<form action="/admini/year/new/add/" method="post">
			{% csrf_token %}
				<div class="form-group">
					<label for="inicio">Inicio</label>
					<input type="date" name="inicio" id="inicio" class="form-control" required>
				</div>
				<div class="form-group">
					<label for="fin">Fin</label>
					<input type="date" name="fin" id="fin" class="form-control" required>
				</div>
				<div class="form-group">
					<input type="submit" value="Agregar año académico" class="btn btn-primary">
				</div>
			</form>
		</div>
	</div>	
	</div>
{% endblock %}