{% extends "base_in_admin.html" %}

{% block info %}
<div class="container" align="center">
<br>
	<h2>Ofertar grado</h2>
	<div class="row container">
	<div class="col-md-3"></div>
		<div class="col-md-6">
			<form action="" method="post">
			{% csrf_token %}
				<div class="form-group">
					<label for="añoa">Año académico</label>
						<select name="añoa" id="añoa" class="form-control" required>
  							<option value="">Seleccione año</option>
  							<option value="">2017</option>
  							<option value="">2018</option>
						</select>
				<div class="form-group">
					<label for="grado">Grado Sección</label>
						<select name="grado" id="grado" class="form-control selectpicker" multiple required>
  							<option value="">1ero A</option>
  							<option value="">1ero B</option>
  							<option value="">2ndo</option>
						</select>
				</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Ofertar grado" class="btn btn-primary">
				</div>
			</form>
		</div>
	</div>
	</div>	
{% endblock %}