{% extends "base_in_docente.html" %}

{% block info %}
  
  
  <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
      <br>

  
  <form action="/docente/ingresarnota/save/" method="POST">
  {% csrf_token %}
    <div class="row container">
  <h2>Listado de de alumnos de la clase</h2>
  <br>
  <input type="hidden" value="{{ of.id }}" name="idof">
    <div class="table-responsive">
           <table id="datatable" class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre completo</th>
                  <th>Parcial 1</th>                    
                  <th>Parcial 2</th>
                  <th>Parcial 3</th>
                  <th>Parcial 4</th>
                  <th>Promedio</th>
                </tr>
              </thead>
              <tbody> 
                {% for ma in detm %}
                {% if ma.matricula.ofertagrado == of.ofertagrado %}
                     <tr>
                    <td>{{ ma.matricula.alumno }} <input name="id" type="hidden" value="{{ ma.id }}"></td>
                    <td><input min="0" max="100" name="nota1" type="number" value="{{ ma.nota1}}"></td>                    
                    <td><input min="0" max="100" name="nota2"type="number" value="{{ ma.nota2}}"></td>                    
                    <td><input min="0" max="100" name="nota3" type="number" value="{{ ma.nota3}}"></td>                    
                    <td><input min="0" max="100" name="nota4" type="number" value="{{ ma.nota4}}"></td>
                    {% if ma.promedio >= 70 %}
                      <td style="color: #40F716">{{ ma.promedio }} %</td>
                    {% else %}
                      <td style="color: Red">{{ ma.promedio }} %</td>
                    {% endif %}                    
                  </tr>
                  {% endif %}
                {% endfor %}
              
               
              </tbody>
            </table>
          </div>
          <div class="row container">
            <div class="col-md-2">
              <button class="btn btn-primary">Guardar cambios</button>
            </div>
          </div>
  
  
  </form>
  </div> 

</div>
</div>
</div>
{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
    $('#datatable').DataTable();
});
  </script>

  
{% endblock  %}