{% extends "base_in_docente.html" %}

{% block info %}
  
  
  <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
      <br>

  
    
  
  <div class="row container">
  <h2>Listado de de alumnos de la clase</h2>
  <br>
    <div class="table-responsive">
           <table id="datatable" class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre completo</th>
                  <th>Parcial 1</th>                    
                  <th>Parcial 2</th>
                  <th>Parcial 3</th>
                  <th>Parcial 4</th>
                  <th>Promedio</th>
                </tr>
              </thead>
                <tbody> 
                {% for ma in detm %}
                  <tr>
                    <td>{{ ma.matricula.alumno }}  </td>q
                    <td><input type="number" value="{{ ma.nota1}}"></td>                    
                    <td><input type="number" value="{{ ma.nota2}}"></td>                    
                    <td><input type="number" value="{{ ma.nota3}}"></td>                    
                    <td><input type="number" value="{{ ma.nota4}}"></td>                    
                    <td>{{ ma.promedio }} </td>
                  
                  
      
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="row container">
            <div class="col-md-2">
              <button class="btn btn-primary">Guardar cambios</button>
            </div>
          </div>

  </div> 

</div>
</div>
</div>
{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
    $('#datatable').DataTable();
});
  </script>

  
{% endblock  %}