{% extends "base_in_docente.html" %}

{% block info %}
  
  <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
      <br>

  <h2>Listado de de alumnos de la clase</h2>
  <br>
    
  
  <h2>Mis Alumnos</h2>
  <div class="row container">
      <div class="table-responsive">
            <table id="datatable" class="table table-condensed table-hover table-striped">
              <thead>
                <tr>
                  <th>Nombre del Alumno</th>
                  <th>Direccion</th>
                  <th>Telefono</th>
                  <th>Correo</th>
                  <th></th>
                </tr>
              </thead>
              <tbody> 
                {% for ma in mat %}
                  <tr>
                    <td>{{ ma.alumno }} </td>
                    <td>{{ ma.alumno.direccion}}</td>
                    <td>{{ ma.alumno.telefono_f}}</td>
                    <td>{{ ma.alumno.correo }}</td>
                  
                  
      
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            
  </div>  
  </div>
  </div>
  </div>

  
{% endblock %}