{% extends "base_in_docente.html" %}

{% block info %}

      <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
      <div class="col-md-12 padding-0" align="center">
      <br>
            

  
    
  
  <div class="row container">
    <h2>Listado de Clases</h2>
    <br>
    <div class="table-responsive">
            <table id="datatable" class="table table-striped">
              <thead>
                <tr>
                  <th>Clase </th>
                  <th>Grado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    {% for clase in misclases %}
                      <td>{{ clase.gradoclase.clase }}</td>
                      <td>{{ clase.gradoclase.grado}}</td>
                      <td><div class="btn-group">
                      <button class="dropdown-toggle btn btn-primary btn-block" data-toggle="dropdown" aria-expanded="true">Acciones &nbsp<span class="fa fa-caret-down"></span></button>
                      <ul class="dropdown-menu">
                      <li><a href="/docente/ingresarnota/{{ clase.id }}/">Ingresar Notas <span class="fa fa-pencil pull-left"></span></a></li>
                      <li><a href="/docente/ver_alumnos/{{ clase.id }}/">Ver Alumnos <span class="fa fa-eye pull-left"></span></a></li>
                    </ul>
                  </div></td>
                  </tr>
                  {% endfor %}
                  
                  

                
              </tbody>
            </table>
          </div>

  </div>  
                          
        </div>
</div>

</div>
</div>
</div>
	
	

	
{% endblock %}

{% block js %}
  <script>
  $(document).ready(function() {
    $('#datatable').DataTable();
});
  </script>

  
{% endblock  %}