{% extends "base_in_docente.html" %}

{% block info %}
	
	<div class="row">
    	<div class="col-md-4">
     	 <input type="text" class="form-control" placeholder="Buscar por Clase">
    	</div>
    </div>

	<h2>Listado de Clases</h2>
	<br>
    
	
	<div class="row">
		<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Clases</th>
                  <th>Grado</th>	                  
                  <th>Sección</th>
                  <th>Año</th>
                </tr>
              </thead>
              <tbody>
				 <td><a href="">Matemáticas</a></td>
		         <td>1ero</td>            	
		         <td>A</td>    
		         <td>2017</td>    
              </tbody>
            </table>
          </div>

	</div>	

	
{% endblock %}